body{
    background-color: black;
}

.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-template-rows: 5fr;
    justify-items: auto;
}

.zone{
    color: white;
    background-color: gray;
    text-align: center;
}